<style type="text/css">
  div#widget_tree { float:right; }
  div#widget_tree li { padding-left:1em; }
</style>
<%= render :partial => '/common/widget_css' %>

<h1>Widget Editor</h1>
<div id="widget_tree">
  <%= render :partial => 'widget_tree' %>
</div>
<div id="widget_form">
  <br /><i>Click on a widget in the tree on the right to edit it.</i>
</div>
<br class="clear"/>
<h2>Preview <%= spinner('widget_preview') %></h2>
<hr />
<div id="widget_preview"></div>
<script type="text/javascript">
  function load_widget_preview() {
    <%= show_spinner('widget_preview') %>
    <%= remote_function :url => { :controller => 'widget', :action => 'show' }, :update => 'widget_preview' %>
    <%= hide_spinner('widget_preview') %>
  }
  load_widget_preview();
</script>
